/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-may-2020, 0:15:36
    Author     : gabriel
*/

body{
    background-image: url("./3.jpeg"); 
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
