.selector-for-some-widget {
    box-sizing: content-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url("./3.jpeg");
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.selects select {
    margin-bottom: 5%;
}